.extendMainClass{
    background-color: map-get($colores , "2" );
}

.extendA{
    color: map-get($colores , "2" );
	font-weight: bold;
	text-transform: uppercase;
	font-size: small;
	padding: 15px;
	text-decoration: none;
}

.extendH1{
    font-size: larger;
	font-weight: bold;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.extendH2{
	font-size: medium;
	font-weight: 400;
	display: flex;
	justify-content: center;
}