@import "./variables";
@import "./mixins";
@import "./extend";

*{
	@include reset;
	font-family: $font1;
}

.brown {
	background-color: map-get($colores , "1" );
}
a {
	@extend .extendA;
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: white;
		}
	}
}

.mainClass {
	@extend .extendMainClass;

	h1 {
		@extend .extendH1;
	}
	
	h2 {
		@extend .extendH2;
	}

	p {
		font-size: small;
	}
	.indexParagraph {
		margin: 5vh 25vw 0 25vw;
	}
	.centeredParagraph {
		display: flex;
		justify-content: center;
		margin-left: 20vw;
		margin-right: 20vw;
		font-size: 15px;
	}

	.nosotrosGrid {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-content: center;
	}
	.figureNosotros{
		max-width: 50vw;
		margin: 2vw;
	}

	.Galery {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-content: center;
	}
	img {
		border: 3px solid black;
		max-width: 50vw;
	}
	.carousels {
		width: 50vw;
		margin: 2vw;
		margin-bottom: 2vh;
	}
	.iframeFlex {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-content: center;
	}
	.iframeUs{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-content: center;
	}
	iframe {
		margin: 2vw;
		border: 3px solid black;
	}
	
	.formSection {
		padding: 10px;
	
		.form {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
			padding: 20px;
			max-width: 300px;
			border-radius: 20px;
			border: 2px solid black;
			margin: 0 auto 20px;
		}
		.form-contact {
			.btn-submit {
				border: 1px solid black;
			}
		}
	}
}


footer {
	i {
		font-size: 30px;
		color: map-get($colores , "2" );
		margin: 20px;
		&:hover {
			color: black;
		}
	}
	
}
.footer {
	display: flex;
	justify-content: center;
	padding: 1px;
	background-color: map-get($colores , "1" );
}


@media (min-width: 768px) and (max-width: 1199px) {
	* {
		padding: 0;
		margin: 0;
	}
	a {
		color: map-get($colores , "3" );
		font-weight: bold;
		text-transform: uppercase;
		font-size: small;
		padding: 15px;
		text-decoration: none;
	}

	.mainClass {
		background-color: map-get($colores , "2" );

		h1 {
			font-size: larger;
			font-weight: bold;
			padding: 20px;
			display: flex;
			justify-content: center;
		}
		h2 {
			font-size: medium;
			font-weight: 500;
			display: flex;
			justify-content: center;
		}
		h3 {
			font-size: small;
			margin-left: 30px;
			display: flex;
			justify-content: center;
		}

		p {
			font-size: small;
		}
		.indexParagraph {
			margin: 5vh 25vw 0 25vw;
			display: flex;
			justify-content: center;
		}
		.centeredParagraph {
			display: flex;
			justify-content: center;
			margin-left: 20vw;
			margin-right: 20vw;
		}

		.Galery {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		img {
			border: 3px solid black;
			max-width: 50vw;
		}
		.figureNosotros{
			max-width: 90%;
			height: auto;
			margin-left: 5%;
		}
		.carousels {
			max-width: 50vw;
			margin: 5vw;
			margin-bottom: 2vh;
		}
		.iframeFlex {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		iframe {
			border: 3px solid black;
			max-width: 90%;
			height: 45vh;
			margin-left: 5%;
		}

		form {
			padding: 80px;
			padding-left: 10px;
			padding-top: 40px;
		}
	}
	
	footer {
		background-color: map-get($colores , "1" );
		font-style: italic;
		color: azure;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	* {
		padding: 0;
		margin: 0;
	}
	a {
		color: map-get($colores , "3" );
		font-weight: bold;
		text-transform: uppercase;
		font-size: smaller;
		padding: 5px;
		text-decoration: none;
	}
	.mainClass {
		background-color: map-get($colores , "2" );

		h1 {
			font-size: larger;
			font-weight: bold;
			padding: 20px;
			display: flex;
			justify-content: center;
		}
		h2 {
			font-size: medium;
			margin-left: 30px;
			display: flex;
			justify-content: center;
		}
		h3 {
			font-size: small;
			margin-left: 30px;
			display: flex;
			justify-content: center;
		}
		
		p {
			font-size: small;
		}
		.indexParagraph {
			margin-left: 40px;
			margin-right: 40px;
			display: flex;
			justify-content: center;
		}
		.centeredParagraph {
			display: flex;
			justify-content: center;
			margin-left: 10vw;
			margin-right: 10vw;
		}

		.Galery {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		img {
			border: 3px solid black;
			max-width: 50vw;
		}
		.nosotrosGrid {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		.figureNosotros{
			max-width: 90%;
			height: auto;
			margin-left: 5%;
		}
		.carousels {
			width: 55vw;
			
			margin-bottom: 2vh;
		}
		.iframeFlex {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		iframe {
			border: 3px solid black;
			max-width: 90%;
			height: 45vh;
			margin-left: 5%;
		}
		form {
			padding: 80px;
			padding-left: 10px;
			padding-top: 40px;
		}
	}
	
	footer {
		background-color: map-get($colores , "1" );
		font-style: italic;
		color: azure;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
@media (min-width: 0px) and (max-width: 480px) {
	* {
		padding: 0;
		margin: 0;
	}

	header {
		background-color: map-get($colores , "1" );
		margin: 0;
		border: 1px solid black;
		nav {
			margin: 3px;
			padding: 5px;
			ul {
				li {
					list-style-type: none;
					display: inline-block;
		
					a {
						color: map-get($colores , "3" );
						font-weight: bold;
						text-transform: uppercase;
						font-size: xx-small;
						padding: 2px;
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.mainClass {
		background-color: map-get($colores , "2" );

		h1 {
			font-size: larger;
			font-weight: bold;
			padding: 20px;
			display: flex;
			justify-content: center;
		}
		h2 {
			font-size: medium;
			font-weight: 300;
			display: flex;
			justify-content: center;
		}
		
		p {
			font-size: small;
		}
		.indexParagraph {
			margin-left: 40px;
			margin-right: 40px;
			display: flex;
			justify-content: center;
		}
		.centeredParagraph {
			display: flex;
			justify-content: center;
			margin-left: 40px;
			margin-right: 40px;
		}

		.Galery {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		
		img {
			border: 3px solid black;
			max-width: 100%;
			height: auto;
			margin-left: 0px;
			margin-right: 0px;
		}
		.figureNosotros{
			max-width: 90%;
			height: auto;
			margin-left: 5%;
		}
		.carousels {
			width: 90%;
			margin: 5%;
			margin-bottom: 20px;
		}
		.iframeFlex {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			justify-content: center;
		}
		iframe {
			border: 3px solid black;
			max-width: 90%;
			height: 35vh;
			margin-left: 5%;
		}

		form {
			padding: 80px;
			padding-left: 10px;
			padding-top: 40px;
		}
	}
	
	footer {
		background-color: map-get($colores , "1" );
		font-style: italic;
		color: azure;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}